.traffic .symbol {
  margin-right: 15px;
}

.traffic .green {
  color: #83FFB3;
}

.traffic .yellow {
  color: yellow;
}

.traffic .red {
  color: #FF4C4C;
}

.traffic #detailedSummary td {
  padding-right: 10px;
}